body {
    overflow-x: hidden;
}
main div{
    display: grid;
    align-items: center;
    justify-content: center;
}


#conteiner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    gap: 20px; 
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 40px; 
}
main #conteiner .projeto:hover{
    box-shadow: 0 7px 10px 0 #787878;
    transition: all 300ms ease-in-out 0s;
}

.projeto {
    background-color: #ffffff; 
    padding: 15px; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.projeto a {
    color: black;
    text-decoration: none;
}

.projeto img {
    width: 100%; 
    border-radius: 6px; 
    margin-bottom: 15px; 
}
.projeto h3 {
    font-size: 1.2em;
    margin-bottom: 10px; 
}

.projeto p {
    font-size: 0.9em; 
    line-height: 1.4; 
}


           

